#body {
  display: flex;
  top: 10px;
}

#map {
  flex: 1.75;
  height: 90vh;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#notifications {
  flex: 1;
  height: 90vh;
  margin-left: 0.5rem;
  padding: 1.0rem;
}
