.card-panel {
  width: 100%;
  display: inline-flex;
  margin: .5rem 0 0.5rem 0;
  padding: 10px;
}

#notifications {
  height: 10vh;
  background-color: #fafafa;
}

.center {
  margin: auto;
  width: 50%;
}

#stats {
  height: 40vh;
}

#stats-left {
  flex: 1;
}

#stats-left img {
  height: 25vh;
}

#stats-mid-left {
  flex: 1;
}

#stats-mid-left p {
  display: inline-block;
}

#air-temperature {
  font-size: 8rem;
  margin: 0;
}

#celsius {
  font-size: 2.5em;
  position: relative;
  right: 1.5vw;
  bottom: 10.5vh;
}

#stats-mid-right {
  margin: auto;
  width: 50%;
  text-align: left;
  flex: 1;
}

#stats-mid-right div p {
  text-align: left;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  left: 1.333vw;
}

#stats-right {
  flex: 1.5;
}

#pressure-gauge {
  position: relative;
  bottom: 7.5vh;
  left: 3vw;
}

#graphs {
  height: 40vh;
  background-color: #FFFF8D;
  display: inline-flex;
}

.carousel {
  height: 100%;
}

.carousel.carousel-slider .carousel-item {
  min-height: 35vh;
}

.indicator-item {
  position: relative;
  top: 5vh;
}

#graphs-past-hour {
  flex: 1;
}

#graphs-past-day {
  flex: 1;
}
